# Dependencies
node_modules/

# Build outputs
.next/
dist/
build/
out/

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

# Environment files
.env*

# Others
*.log
.DS_Store
